*{
   padding: 0;
   margin: 1000;
   font: optional; sans-serif
 }
 .measos{
    padding: 5px 0;
    background-color; #FF5733;
 }
 .medsos ul li{
    display: inline-block;
    color: #fff;
 }
 .container{
    width: 88%;
    margin: 0 auto;
 }

